.products-background {
  width: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.products-container {
  width: 50rem;
  padding: 3.125rem 1.25rem 3.125rem;
  margin-top: 3.125rem;
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 1.25rem;
}

.empty-products {
  font-size: 2.5rem;
  width: 22.5rem;
  margin-top: 40vh;
}

@media screen and (max-width: 480px) {
  .empty-products {
    font-size: 1.75rem;
    width: 15.75rem;
  }
}
