.product-container {
  cursor: pointer;
  background-color: white;

  width: 100%;
  max-width: 15rem;
  margin: 0 auto;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container img {
  border-bottom: 1px solid lightgrey;
  width: 95%;
}

.product-container .details {
  width: 90%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-container .details .price {
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
}

.product-container .details .title {
  color: grey;
  text-align: start;
  margin-top: 0.5rem;
}

.product-container .add-cart {
  cursor: pointer;
  background-color: transparent;
  color: rgb(6, 80, 240);
  border: none;

  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  line-height: 1rem;

  position: absolute;
  top: 12px;
  right: 12px;
}

.product-container .add-cart:hover {
  background-color: rgba(209, 209, 209, 0.5);
  border-radius: 50%;
}
