.loading {
  animation: spin 1s linear infinite;
  
  font-size: 3.2rem;

  position: absolute;
  top: 0;

  display: none;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
