.loading {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  animation: spin 1s linear infinite;

  position: absolute;
  top: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
